 
@{
    ViewBag.Title = "vechungtoi";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penguins-Contact</title>
</head>

<!-- FONT -->
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Lato&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet">

<!-- FONT AWSOME -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

<!-- CSS -->
<link rel="stylesheet" href="~/resources/css/vechungtoi.css">

<body>
    <!-- Header -->
    <!-- <header>
        <section class="header" >
            <div class="main-container">
                <nav class="head-nav">
                    <div class="logo">
                        <a href="index.html">
                            <img src="resources/img/homeBUS.png" alt="logo">
                        </a>
                    </div>
                    <p class="logo-content">Pengu<span>ins</span></p>
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a href="lichtrinh.html" class="nav-link">Lịch trình</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Tin tức</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Liên hệ</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Hóa đơn</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Về chúng tôi</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Khác</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </header> -->
    <!-- header ends -->
    <!-- ve chung toi -->
    <section class="about-us">
        <div class="main-container">
            <!-- Tạm thời xem trang này cần code không? -->
        </div>
    </section>
    <!-- ve chung toi ends -->
    <!-- Footer -->
    <footer>
        <div class="main-container ft-main">
            <div class="ft-component c-about">
                <h2 class="ft-head">About us</h2>
                <p>
                    consectetur adipisicing elit. Fugit libero reiciendis autem at tenetur quia culpa nobis aperiam
                    asperiores sint.
                </p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, aspernatur!</p>
                <ul class="list-connect">
                    <li class="connect-item">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="connect-item">
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    </li>
                    <li class="connect-item">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <div class="ft-component c-time">
                <h2 class="ft-head">Working time</h2>
                <p class="monday">Monday<span>5:30 - 23:30</span></p>
                <p>Tuesday<span>5:30 - 23:30</span></p>
                <p>Wednesday<span>5:30 - 23:30</span></p>
                <p>Thursday<span>5:30 - 23:30</span></p>
                <p>Friday<span>5:30 - 23:30</span></p>
                <p>Saturday<span>5:30 - 23:30</span></p>
                <p>Sunday<span>5:30 - 23:30</span></p>
            </div>
            <div class="ft-component c-docs">
                <h2 class="ft-head">Docs References</h2>
                <a target="_blank" class="c-afirst" href="https://futabus.vn/">
                    Vé xe Phương Trang
                </a>
                <a target="_blank" href="https://hocwebchuan.com/">
                    Học web chuẩn
                </a>
                <a target="_blank" href="https://getbootstrap.com/">
                    Boostrap 4
                    <i class="fab fa-bootstrap"></i>
                </a>
                <a target="_blank" href="https://fullstack.edu.vn/">
                    F8 Fullstack
                </a>

                <a target="_blank" href="https://fonts.google.com/">
                    Google Fonts
                </a>

                <a target="_blank" href="https://fontawesome.com/">
                    Fontawesome
                    <i class="fab fa-font-awesome-flag"></i>
                </a>

                <a target="_blank" href="https://www.youtube.com/channel/UCeHWTyAKBv_WnW8gsEKGECw">
                    Julio Codes
                    <i class="fab fa-youtube-square"></i>
                </a>
            </div>
            <div class="ft-component c-team">
                <h2 class="ft-head">Penguins Team</h2>
                <p class="monday">Nguyễn Văn A<span>xx52xxxx</span></p>
                <p>Nguyễn Văn B<span>xx52xxxx</span></p>
                <p>Nguyễn Văn C<span>xx52xxxx</span></p>
                <p>Nguyễn Văn D<span>xx52xxxx</span></p>
                <p>Nguyễn Văn E<span>xx52xxxx</span></p>
                <p>Nguyễn Văn F<span>xx52xxxx</span></p>
                <p>Nguyễn Văn G<span>xx52xxxx</span></p>
            </div>
        </div>
        <p class="end-footer">2020 - Phát triển ứng dụng Web | Được thực hiện bởi Penguins Team</p>
        <div class="bttop">
            <a href="#uptoall"><i class="fas fa-arrow-up"></i></a>
        </div>
    </footer>

    <script src="~/resources/js/vechungtoi.js"></script>
    <script src="~/resources/js/public_hiddenNavbar.js"></script>
</body>

</html>

