
@{
    ViewBag.Title = "News";
}
@{
    ViewBag.Title = "lichtrinh";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section sScript{
    <script src="~/resources/js/News.js"></script>
    <script src="~/resources/js/public_hiddenNavbar.js"></script>
}
@section sCss{
    <link rel="stylesheet" href="~/resources/css/News.css">
}
    <section class="news">
        <div class="main-container">
            <h1 class="news-name">
                <p class="main-name">TRENDING NOW</p>
                <p class="main-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, commodi.</p>
            </h1>
            <div class="our-news">
                <div class="main-news">
                    <img src="~/resources/img/bg_cherryblossom.jpg" alt="">
                    <div class="overay-content">
                        <div class="main-news-content">
                            <h3>Lorem ipsum dolor</h3>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat totam nihil iure, sunt
                                accusamus repudiandae. Lorem ipsum dolor sit amet.
                            </p>
                            <p class="date-news">November 19, 2020</p>
                        </div>

                    </div>
                </div>
                <div class="news-list">
                    <h2>Trending Posts</h2>
                    <div class="news-item">
                        <img src="~/resources/img/bg_train.jpg" alt="">
                        <div class="item-content">
                            <p>Type of news</p>
                            <h3>Lorem ipsum dolor sit amet.</h3>
                            <p>November 19, 2020</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="~/resources/img/bg_train.jpg" alt="">
                        <div class="item-content">
                            <p>Type of news</p>
                            <h3>Lorem ipsum dolor sit amet.</h3>
                            <p>November 19, 2020</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="~/resources/img/bg_train.jpg" alt="">
                        <div class="item-content">
                            <p>Type of news</p>
                            <h3>Lorem ipsum dolor sit amet.</h3>
                            <p>November 19, 2020</p>
                        </div>
                    </div>
                    <p class="end-list">READ MORE TRENDING</p>
                </div>
            </div>

        </div>
    </section>

